<mat-toolbar color="primary">
  <span>Volley Training</span>
  <span class="example-spacer"></span>
  <button [routerLink]="['./presence']" mat-raised-button class="nav-btn" aria-label="Anwesenheit">Anwesenheit</button>
  <button [routerLink]="['./days']" mat-raised-button class="nav-btn" aria-label="Anwesenheit">Spieltage</button>
  <button [routerLink]="['./members']" mat-raised-button class="nav-btn" aria-label="Anwesenheit">Mitglieder</button>
  <button [routerLink]="['./settings']" mat-raised-button class="nav-btn" aria-label="Einstellungen">Einstellungen</button>
</mat-toolbar>

<router-outlet></router-outlet>